body,html {
  height: 100%;
}

#bio{
  border: 5px solid black;
}

.parallax {
  /* The image used */
  background-image: url('https://cdn-images-1.medium.com/max/2000/1*-4nkXQYN05ljzfJez_azbg.jpeg');
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  background-color: rgba(255, 255, 255, 0.80);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.parralax-aboutyou {
  background-image: url('https://rocketleague.media.zestyio.com/rl_cross-play_asset_no-text.c6e1dc555a6eff57c623d9877706c9a5.jpg');
  min-height: 100vh;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parralax-contact {
  background-image: url('http://drive.google.com/uc?export=view&id=1Nd7AFi-LRzf1p2ZqfMQFY51FW6MG42s1');
  min-height: 100vh;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.required-input {
  background-color: #ffb3b3;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}